:root{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #eeeeee;
    /* color: #333333; */
    /* color: #1b1b1b; */
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    /* background-color: #3C1053; */
    background-color: #0E0B1A;
    /* background-color: #33113F; */
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Estilos del main*/

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 2.5rem; */
    padding-bottom: 2rem;
}

.presentacion {
    position: relative;
    min-height: 100vh;
    /* margin-bottom: 5rem; */
    /* background-color: #3C1053; */
    /* background: url('../img/debug-background.jpg'); */
    background-image: url(../img/hero02.svg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    /* color:#e9e5ff; */
    color: #eeeeee;
}

/* .presentacion:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0e0b1a98; 
  }*/

.prin{
    display: flex;
}

.pres > h1{
    position: relative;
    font-size: 3rem;
    text-decoration: underline;
    text-align: center;
}

.presentacion, .propuesta > h2{
    position: relative;
    font-size: 2rem;
}

.presentacion > p{
    position: relative;
    font-size: 1.5rem;
    text-align: justify;
    width: 80%;
}

.conocenos{
    position: relative;
    text-align: center !important;
}



.presentacion > i{
    font-size: 4rem;
    position: relative;
    bottom: -2rem;
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}


.position{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    gap: 0.7rem;
}


.position > i{
    font-size: 2.5rem;
}


section{
    position: relative;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    /* background-color: #27243A;
    background-image: url('../img/fondo-violeta.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('../img/debug-background.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; */
    padding: 5rem 0 5rem 0;
    background-image: url(../img/section0.svg);
    background-position: 20% 10%;
    background-size: 180%;
    background-repeat: no-repeat;
}


section > div{
    /* min-height: 40vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    position: relative;
}

section > div > div{
    min-width: 350px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.phrase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* background-color: #9437FF;
    background-image: linear-gradient(145deg, #5a275f 10%, #3a144c 90%); */
    box-shadow: 0px 0px 10px #7713cfd3;
    position: relative;
    padding: 2rem;
    background-color: #0e0b1abe;
}

.phrase-container > p{
    word-spacing: 0.2rem;
    position: relative;
}

.propuesta {
    background-image: none !important;
    margin: 0 4rem;
}

/*
.whatsapp-link{
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
    background-color: white;
    color: green;
    cursor: pointer;
    transition: 0.4s ease-in all;
    width: 10rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

 .whatsapp-link > i {
    font-size: 1.3rem;
}


.whatsapp-link:hover{
    color: white;
    background-color: green;
    transition: 0.4s ease-in all;
}

 */
.img-container > img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /* background-color: #78D1CC;*/
    box-shadow: 0px 0px 10px #7713cfd3; 
}
.logo > img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

@keyframes bounce {
    0% {
      bottom: -2rem;
    }
  
    50% {
      bottom: -4rem;
    }

    100%{
        bottom: -2rem;
    }
  }


  .arrow-up{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    font-size: 3rem;
    background-color: transparent;
    border: none;

  }

  .arrow-up > i{
    pointer-events: none;
    color:  #78D1CC;
  }


  /* Media queries*/

  @media (max-width: 768px) {
 
    /* Main*/

    main{
        gap: 0;
    }

    .presentacion{
        gap: 1.5rem;
    }
    
    .presentacion > p{
        font-size: 1.2rem;
        text-align: justify;
        width: 80%;
    }

    .presentacion > h1{
        font-size: 2rem;
    }

    .presentacion > h2{
        font-size: 1.5rem;
    }


    @keyframes bounce {
        0% {
          bottom: 0;
        }
      
        50% {
          bottom: -2rem;
        }
    
        100%{
            bottom: 0;
        }
      }

      section{
        gap: 2rem;
      }

      section > div {
        width: 80%;
      }

      .position{
        width: 80%;
        font-size: 1.1rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        }

    .img-container > img{
        width: 350px;
        height: 350px;
    }

    .position > h2{
        text-align: center;
        width: 70%;
    }

    .arrow-up{
        right: 2rem;
    }
    
  }

  @media (max-width: 425px) {
 
    /* Main*/

    main{
        gap: 0;
    }

    .presentacion{
        gap: 1.5rem;
    }
    
    .presentacion > p{
        font-size: 1.2rem;
        text-align: justify;
        width: 80%;
    }

    .presentacion > h1{
        font-size: 2rem;
    }

    .presentacion > h2{
        font-size: 1.5rem;
    }

    .logo > img{
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .propuesta{
        margin: 0rem;
    }

    @keyframes bounce {
        0% {
          bottom: 0;
        }
      
        50% {
          bottom: -2rem;
        }
    
        100%{
            bottom: 0;
        }
      }

      section{
        gap: 2rem;
        background-size: 540%;
      }

      section > div {
        width: 80%;
      }

      .position{
        width: 80%;
        font-size: 1.1rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        }

    .img-container > img{
        width: 350px;
        height: 350px;
    }

    .position > h2{
        text-align: center;
        width: 70%;
        font-size: 1.8em;
    }

    .arrow-up{
        right: 0.5rem;
    }
    
  }